.system-admin {
  padding: 1rem;

  .organizations, .users {
    margin-bottom: 1rem;
  }

  .org-row, .user-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.25rem 0;
    border-bottom: 1px solid #eee;
  }

  .error {
  color: var(--bakery-text-emph);
  }
}
